<%# ===== NAVBAR code from Bootstrap ===== %>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <%# collapse menu when webpage shrink %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <div class="nav-item">
                    <a class="nav-link" href="/campgrounds">Mother of All Campgrounds</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/campgrounds/new">I found a New Spot!</a>
                </div>
            </ul>
            
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% }%>
            </div>
        </div>
    </div>
</nav>